
<!-- TEMPLATE FOR THE CONTACT COMPONENT -->

<div class='pages-content component'>

  <h1>About</h1>
  <p>Funsualization is a data visualization tool made by Group 26 for the DBL HTI + Webtech (2IOA0) course, followed in Q4 of 2019 at the Eindhoven University of Technology.</p>

  <h2>What is the purpose of our tool?</h2>
  <p>To visualize network data in the most time efficient and representative way possible. To get the most meaning out of your data we implement several kinds of visualizations. We have a heatmap with multiple reorderings which allow a better insight into your data. Furthermore we have extended our tool to have a Force Directed, Radial and Hierarchical representation of your graph - you can choose which suits your needs the best.</p>

  <h2>Features</h2>
  <p>We have implemented the following features. Please do note, some of the functionalities and features are very early versions, and are subject to change and may not work properly just yet.
    <ul>
      <li>Node-link visualisation
      <li>Heatmap visualisation</li>
      <li>Force Directed visualization of your Graph</li>
      <li>Radial  visualization of your Graph</li>
      <li>Hierarchical visualization of your Graph</li>
      <li>File uploading</li>
      <li>CSV parser</li>
      <li>Multiple interactions for both visualizations</li>
      <li>Multiple reorderings for heatmap visualization</li>
      <li>3D view of Matrix visualization</li>
      <li>Saving and exporting the state of the visualisation</li>
    </ul>
  </p>

  <h2>Learn More</h2>
  <p>More about our tool and this project can be found on our <a class='no-button' href='https://gitlab.com/dielorg/2ioa0-webtech'>gitlab</a> page.</p>


</div>
