
<!-- TEMPLATE FOR THE ABOUT COMPONENT -->

<div>

<h1>Contact</h1>
<p>Blabla bla blabla balablab lablabla bllalla lablab lablabla blabla balalalla lablab labla bla blabla balalalla lablab labla</p>
<p>Blblab lablabla blabla bla blabla balalalla lablab lablablab lablabla blbla blabla balalalla lablab labla bla blabla balalalla lablab labla</p>
<p>Blabla bla blabla balalalla blab lablablblab lablabla blblab lablabla bla bllablab lablabla blabla balalalla lablab lablablab lablabla blblab lablabla bl bla blabla balalalla lablab labla</p>


</div>
