
<!-- TEMPLATE FOR THE CONTACT COMPONENT -->
<div class='pages-content component'>
  <h1>Contact</h1>

  <p>You can contact us by sending us an e-mail</p>

  <p class='component'>
    Scrum Master: Adrian Cucos (1327860)<br>
      <a class='button' href="mailto:a.cucos@student.tue.nl">a.cucos@student.tue.nl</a>
  </p>

  <p class='component'>
    Member: Wouter Haneveer (1300334)<br>
    <a class='button' href="mailto:w.haneveer@student.tue.nl">w.haneveer@student.tue.nl</a>
  </p>

  <p class='component'>
    Member: Stijn Kuijper (1312928)<br>
      <a class='button' href="mailto:s.p.kuijper@student.tue.nl">s.p.kuijper@student.tue.nl</a>
  </p>

  <p class='component'>
    Member: Maxim Snoep (1313517)<br>
    <a class='button' href="mailto:m.snoep@student.tue.nl">m.snoep@student.tue.nl</a>
  </p>

  <p class='component'>
    Member: Bart van der Steenhoven (1309897)<br>
    <a class='button' href="mailto:b.j.v.d.steenhoven@student.tue.nl">b.j.v.d.steenhoven@student.tue.nl</a>
  </p>

  <p class='component'>
    Member: Luca Tudor (1294660)<br>
    <a class='button' href="mailto:l.i.tudor@student.tue.nl">l.i.tudor@student.tue.nl</a>
  </p>

  <p class='component'>
    Member: Konstantin Velkov (1307436)<br>
    <a class='button' href="mailto:k.velkov@student.tue.nl">k.velkov@student.tue.nl</a>
  </p>

  <p class='component'>
    Tutor: Delyana Stoyanova<br>
    <a class='button' href="mailto:d.stoyanova@student.tue.nl">d.stoyanova@student.tue.nl</a>
  </p>
</div>
