
<!-- TEMPLATE FOR THE GRAPH DIV -->

<!-- TEMPLATE FOR THE GRAPH DIV -->

<!-- SVG FOR FORCE DIRECTED GRAPH -->
<svg id="svg_force" style="width: 100%; height: 100%; display: block; overflow: hidden; border: 1px solid white; background-color: #3e3e3e"></svg><br>

    <!-- SETTINGS -->
    <!--form>
    Link width: <input id="linkWidth" type="range" min="0" max="5" value="1"><br>
    Link opacity: <input id="linkOpacity" type="range" min="1" max="100" value="50"><br>
    Node size: <input id="nodeSize" type="range" min="1" max="50" value="2"><br>
    Node color: <input id="nodeColor" type="color" value="#0080ff">
    Selected node color: <input id="selNodeColor" type="color" value="#ff88aa"><br>
    <input id="applyButton" type="button" value="Apply Force" onclick="setDisplayForce(svg_force)"><br>
    </form-->
