
<!-- TEMPLATE FOR THE GRAPH DIV -->

<!-- SVG FOR FORCE DIRECTED GRAPH -->
<div style="float: left">
    <button onclick="renderSelected()">Selected</button><br>
    <button onclick="renderReset()">Reset</button><br>
    Min edge weight: <input id="minWeight" type="range" min="0" max="100" value="0"><br>
    Max edge weight: <input id="maxWeight" type="range" min="0" max="500" value="100"><br>
    <button onclick="filterEdges()">Apply Filters</button>
</div>
<div style="float: left">
    <svg id="svg_force" width="800" height="800"  style="overflow: hidden; border: 1px solid black;"></svg><br>

    <!-- SETTINGS -->
    <form>
    Link width: <input id="linkWidth" type="range" min="0.1" max="5" value="1"><br>
    Link opacity: <input id="linkOpacity" type="range" min="1" max="100" value="50"><br>
    Node size: <input id="nodeSize" type="range" min="1" max="50" value="2"><br>
    Node color: <input id="nodeColor" type="color" value="#0080ff">
    Selected node color: <input id="selNodeColor" type="color" value="#ff88aa"><br>
    <input id="applyButton" type="button" value="Apply Force" onclick="setDisplayForce(svg_force)"><br>
    </form>

</div>

<div>
    <!-- SVG FOR RADIAL GRAPH -->
    <svg id="svg_radial" width="800" height="800" style="overflow: hidden; border: 1px solid black;"></svg><br>

    <!-- SETTINGS -->
    <form>
    Link width: <input id="linkWidthRad" type="range" min="0.1" max="5" value="1"><br>
    Link opacity: <input id="linkOpacityRad" type="range" min="1" max="100" value="50"><br>
    Node size: <input id="nodeSizeRad" type="range" min="1" max="50" value="2"><br>
    Node color: <input id="nodeColorRad" type="color" value="#0080ff">
    Selected node color: <input id="selNodeColorRad" type="color" value="#ff88aa"><br>
    <input id="applyButton" type="button" value="Apply Radial" onclick="setDisplayRadial(svg_radial)"><br>
    </form>

</div>