<!--
HTML FOR VISUALIZATION TOOL
code by Maxim Snoep (1313517)
 -->
<html>

<head>
  <meta charset="UTF-8">
	<title>Funsualization</title>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="public/frontpage.css" rel="stylesheet">
</head>


<body>

  <div class='container'>

    <div class='main component center'>
      <p class='head bold'>Funsualization</p>
      <p class='sub'>Making Visualizations Fun Again</p>
      <a href='/tool'><button class='cool-button'>Start Visualizing!</button></a>
    </div>

    <!--
    <div class='pages'>
      <div class='buttons component'>
        <button id='about-btn' class='button'>about</button>
        <button id='contact-btn' class='button'>contact</button>
        <button id='help-btn' class='button'>help</button>
      </div>
    </div>
    -->

  </div>

</body>
</html>
