<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Funsualization: DBL-Webtech</title>
  <link rel="stylesheet" href="public/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <style>
      canvas {
    display: block;
    vertical-align: bottom;
    }

/* ---- particles.js container ---- */
 
    /* #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    } */
  </style>
</head>
<body>
  <section class="hero is-dark is-bold is-large">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="/">
              Home
            </a>
            <a class="navbar-item" href="/about"> 
              About us
            </a>
            <a class="navbar-item" href="/docs">
              Documentation
            </a>
            <span class="navbar-item">
              <a class="button is-info is-inverted" href="https://gitlab.com/dielorg/2ioa0-webtech/">
                <span class="icon">
                  <i class="fab fa-gitlab"></i>
                </span>
                <span>Request Access</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Funsualizaton
      </p>
      <p class="subtitle">
       Making visualizing graph data fun again. <span class="has-text-warning is-large"><i class="far fa-grin-stars"></i></span></p>
      <a class="button is-success is-medium" href="visualization">Start visualizing 
         &nbsp;<i class="fas fa-arrow-right"></i>
  
      </a>
    </div>
  </div>
  <div id="particles-js">

</section>
    <footer class="footer is-small">
  <div class="content has-text-centered">
      <strong>Funvis</strong> by <a href="/about">Group 26</a> of 2IOA0 DBL HTI + Web Tech. Hosting courtesy of Heroku. Creating using 
  </div>
</footer>
  <!-- <script src="public/scripts/particles.js"></script>
  <script>
    particlesJS.load('particles-js', 'public/scripts/particles.json', function() {
      console.log('callback - particles.js config loaded');
    });
  </script> -->
</body>
</html>