<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Page</title>
</head>
<body>

    <!-- Upload Form -->
    <form action="/upload"  enctype="multipart/form-data" method="post">
      <p>Select a file to upload !</p>
      <input id="input" type="file" name="upload">
    </form>

    <!-- Include Upload script -->
    <script src='public/scripts/upload.js'></script>

</body>
</html>
