<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Page</title>

    <style>
    #drop-area {
      border: 3px solid #ccc;
      width: 40vw;
      margin: 20vh 28vw;
      padding: 2vh 1vw;
    }

    #drop-area.highlight {
      border-color: #222;
      background-color: #ccc;
    }

    </style>



</head>
<body>

    <!-- Upload Form -->
    <div id="drop-area">
      <form enctype="multipart/form-data">
        <p>
          File: <span id='file'>No file uploaded.</span><br>
          Error:  <span id='msg'>No errors.</span><br>
          File Name: <span id='name'>No file uploaded.</span>
        </p>
        <p>
          Upload by dropping a file, or selecting a file.
        </p>
        Add filename, leave blank to keep original filename
        <input id="filename" type="text">
        <input id="input" type="file">
        <br>
        <button type='button' id="submit">Upload</button>

      </form>
    </div>

    <!-- Include Upload scripts -->
    <script src='public/scripts/upload/upload.js'></script>
    <script src='public/scripts/upload/dragdrop.js'></script>

</body>
</html>
