<!--
HTML FOR VISUALIZATION TOOL
code by Maxim Snoep (1313517)
 -->
<html>

<head>
  <meta charset="UTF-8">
	<title>Funsualization</title>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="public/test.css" rel="stylesheet">
</head>


<body>
	<div class='container'>

    <!-- Logo in Corner -->
    <div class='logo component bordered'>
      <img src='public/logo.png'></img>
    </div>

    <!-- Top Header, with upload and select datasets fuctions -->
    <div class='header'>
      <!-- Upload Datasets -->
      <div class='upload component bordered'>
        <!-- Left Upload Component -->
        <div class='upload-left'>
          <input id="input" type="file" class='input'><label for="input" id='input-placeholder' class='input-placeholder button bordered'>Choose a file</label>
          <input id="filename" placeholder="Filename (Optional)" type="text" class='file-name button bordered' autocomplete="off" spellcheck="false">
          <button type='button' id="submit" class='file-upload button bordered'>Upload!</button>
        </div>
        <!-- Right Upload Component -->
        <div class='upload-right'>
          <p class='file-info'>
          File: <span id='file'>No file uploaded.</span><br>
          Error:  <span id='msg'>No errors.</span><br>
          File Name: <span id='name'>No file uploaded.</span>
          </p>
        </div>
      </div>
      <!-- Select Datasets-->
      <div class='select component bordered'>
        <!-- Data Selector Component -->
        <select id="select-data">
        </select>
      </div>
    </div>

    <!-- About Component-->
    <div class='about component bordered'>
      <button id='about-btn' class='button bordered'>about</button>
      <button id='contact-btn' class='button bordered'>contact</button>
      <button id='help-btn' class='button bordered'>help</button>
    </div>

    <!-- Left Settings Component -->
    <div class='left component'>
      <div class='component'>
        <p>Graph settings:</p>
        <div class='component bordered'>
            <p>Link width</p>
            <input id="linkWidth" type="range" min="0" max="250" value="10">

            <p>Link opacity</p>
            <input id="linkOpacity" type="range" min="1" max="100" value="100">

            <p>Node size</p>
            <input id="nodeSize" type="range" min="5" max="100" value="25">

            <p>Node color</p>
            <input id="nodeColor" type="color" value="#0080ff">

            <p>Selected node color</p>
            <input id="selNodeColor" type="color" value="#ff88aa">

            <button type='button' id='renderSelected' class='button bordered'>Show Selected</button>
            <button type='button' id='renderReset' class='button bordered'>Reset</button>
            <button type='button' id='updateView' class='button bordered'>Update</button>

            <p>Min edge weight</p>
            <input id="minWeight" type="range" min="0" max="100" value="0">

            <p>Max edge weight</p>
            <input id="maxWeight" type="range" min="0" max="100" value="100">

            <button type='button' id='filterEdges' class='button bordered'>Apply Filters</button>
          </div>
        </div>

        <div class='component'>
          <p>Heatmap settings:</p>
          <div class='component bordered'>
            <p>Heatmap start color</p>
            <input id="startColor" type="color" value="#D3DFFF">

            <p>Heatmap end color</p>
            <input id="endColor" type="color" value="#003DDE">

            <button type='button' id='updateHeatmap' class='button bordered'>Update Heatmap</button>

            <p>Select reordering</p>
            <select id="selectReordering", onchange="SelectReordering(this);">
              <option value="original">Original</option>
              <option value="alphabetical">Alphabetical</option>
              <option value="sum">Sum</option>
              <option value="average">Average</option>
            </select>
          </div>
        </div>

    </div>

    <div class='main component' id='canvas'>
    </div>

    <div class='right component'>
      <!-- Layout Selector -->
      <div class='component'>
        <p>Layout settings:</p>
        <div class='component bordered'>
          <!-- Visualization Selector 1 -->
          <p><input type="checkbox" id='force-select' onclick="update('force')">Force Directed Graph</p>

          <!-- Visualization Selector 2 -->
          <p><input type="checkbox" id='radial-select' onclick="update('radial')">Radial Graph</p>

          <!-- Visualization Selector 3 -->
          <p><input type="checkbox" id='third-select' onclick="update('third')">Third Graph</p>

          <!-- Visualization Selector 4 -->
          <p><input type="checkbox" id='matrix-select' onclick="update('matrix')">Matrix Heatmap</p>

          <button type='button' id="updateLayout" class='button bordered'>Update Layout</button>
        </div>




      </div>
    </div>

	</div>

  <!-- Include Upload scripts -->
  <script src='public/scripts/upload/upload.js'></script>
  <script src='public/scripts/upload/dragdrop.js'></script>
  <script src='public/scripts/upload/select.js'></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/public/scripts/matrix/matrix.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/public/scripts/graph/graph.js"></script>
  <script src="/public/scripts/graph/graphs/forceGraph.js"></script>
  <script src="/public/scripts/graph/graphs/radialGraph.js"></script>

  <script>
  localStorage.setItem('vis-1', 'none')
  localStorage.setItem('vis-2', 'none')
  localStorage.setItem('vis-3', 'none')
  localStorage.setItem('vis-4', 'none')
  localStorage.setItem('layout', 0)



  setSelectors2 = () => {
    if ( localStorage.getItem('vis-1') ) {}
  }

  update = (last) => {
    if (!document.getElementById(`${last}-select`).checked) {
      layout = parseInt(localStorage.getItem('layout')) - 1;
      localStorage.setItem('layout', layout);
      if ( localStorage.getItem('vis-1') == last ) {
        localStorage.setItem('vis-1', localStorage.getItem('vis-2'))
        localStorage.setItem('vis-2', localStorage.getItem('vis-3'))
        localStorage.setItem('vis-3', localStorage.getItem('vis-4'))
        localStorage.setItem('vis-4', '')
      } else if ( localStorage.getItem('vis-2') == last ) {
        localStorage.setItem('vis-2', localStorage.getItem('vis-3'))
        localStorage.setItem('vis-3', localStorage.getItem('vis-4'))
        localStorage.setItem('vis-4', '')
      } else if ( localStorage.getItem('vis-3') == last ) {
        localStorage.setItem('vis-3', localStorage.getItem('vis-4'))
        localStorage.setItem('vis-4', '')
      } else if ( localStorage.getItem('vis-4') == last ) {
        localStorage.setItem('vis-4', '')
      }
      if ( layout == 3 ) {
        localStorage.setItem('vis-4', '');
      } else if ( layout == 2 ) {
        localStorage.setItem('vis-3', '');
      } else if ( layout == 1 ) {
        localStorage.setItem('vis-2', '');
      } else if ( layout == 0 ) {
        localStorage.setItem('vis-1', '');
      }
    } else {
      layout = parseInt(localStorage.getItem('layout')) + 1;
      localStorage.setItem('layout', layout);
      if ( layout == 4 ) {
        localStorage.setItem('vis-4', last);
      } else if ( layout == 3 ) {
        localStorage.setItem('vis-3', last);
      } else if ( layout == 2 ) {
        localStorage.setItem('vis-2', last);
      } else if ( layout == 1 ) {
        localStorage.setItem('vis-1', last);
      }
    }
  }

  loadComponent = (component) => {
    fetch(`/comp/${component}.html`)
    .then(function(response) {
      response.text().then(function (body) {
        document.getElementById(`component-${component}`).innerHTML = body;
      });
      return response;
    });
  };

  let aboutBtn = document.getElementById('about-btn');
  aboutBtn.addEventListener('click', function(){
    showLayout('1');
    loadCanvas('about', 'box1')}
  )

  let contactBtn = document.getElementById('contact-btn');
  contactBtn.addEventListener('click', function(){
    showLayout('1');
    loadCanvas('contact', 'box1')}
  )

  let helpBtn = document.getElementById('help-btn');
  helpBtn.addEventListener('click', function(){
    showLayout('1');
    loadCanvas('help', 'box1')}
  )

  setSelectors = (value, selector) => {
    var val = localStorage.getItem(value);
    var sel = selector;
    console.log(val, sel)
    var opts = sel.options;
    for (var opt, j = 0; opt = opts[j]; j++) {
      if (opt.value == val) {
        sel.selectedIndex = j;
        break;
      }
    }
  }

  // Update Layout Button Selector
  let updateLayout_btn = document.getElementById('updateLayout')

  // Update Layout Function
  submitLayout = (num) => {
      showLayout(num);
      showCanvas(num);
  }

  // Update Layout Button Listener
  updateLayout_btn.addEventListener('click', function(){ submitLayout(localStorage.getItem('layout')) }, false);

  // Canvas
  let canvas = document.getElementById('canvas');

  // Show Layout Function
  showLayout = (num) => {
    canvas.innerHTML = '';
    box = document.createElement('div');
    box.classList.add('component')
    box.classList.add('bordered')

    if (parseInt(num) > 0 ) {
      box1 = box.cloneNode(true)
      box1.id = 'box1';
      canvas.appendChild(box1);
    }
    if (parseInt(num) > 1 ) {
      box2 = box.cloneNode(true)
      box2.id = 'box2';
      canvas.appendChild(box2);
    }
    if (parseInt(num) > 2 ) {
      box3 = box.cloneNode(true)
      box3.id = 'box3';
      canvas.appendChild(box3);
    }
    if (parseInt(num) > 3 ) {
      box4 = box.cloneNode(true)
      box4.id = 'box4';
      canvas.appendChild(box4);
    }

    switch (num) {
      case '1':
        box1.style = 'grid-area: a / a / d / d; ';
        break;
      case '2':
        box1.style = 'grid-area: a / a / a / d';
        box2.style = 'grid-area: c / c / c / d';
        break;
      case '3':
        box1.style = 'grid-area: a / a / a / d';
        box2.style = 'grid-area: c';
        box3.style = 'grid-area: d';
        break;
      case '4':
        box1.style = 'grid-area: a';
        box2.style = 'grid-area: b';
        box3.style = 'grid-area: c';
        box4.style = 'grid-area: d';
        break;
    }
  }

  // Show Canvas Function
  showCanvas = (num) => {
    if (parseInt(num) > 0 ) {
      loadCanvas(localStorage.getItem('vis-1'), 'box1');
      setTimeout(function(){ loadVisualization(localStorage.getItem('vis-1'), 'box1', localStorage.getItem('layout'))}, 500 )
    }
    if (parseInt(num) > 1 ) {
      loadCanvas(localStorage.getItem('vis-2'), 'box2');
      setTimeout(function(){ loadVisualization(localStorage.getItem('vis-2'), 'box2', localStorage.getItem('layout'))}, 500 )
    }
    if (parseInt(num) > 2 ) {
      loadCanvas(localStorage.getItem('vis-3'), 'box3');
      setTimeout(function(){ loadVisualization(localStorage.getItem('vis-3'), 'box3', localStorage.getItem('layout'))}, 500 )
    }
    if (parseInt(num) > 3 ) {
      loadCanvas(localStorage.getItem('vis-4'), 'box4');
      setTimeout(function(){ loadVisualization(localStorage.getItem('vis-4'), 'box4', localStorage.getItem('layout'))}, 500 )
    }
  }

  // Load Canvas Function
  loadCanvas = (visualization, box) => {
    console.log(visualization, box)
    fetch(`/comp/${visualization}.html`)
    .then(function(response) {
      response.text().then(function (body) {
        document.getElementById(box).innerHTML = body;
      });
      return response;
    });
  }

  // Load Visualization Function
  loadVisualization = (vis, box, layout) => {
    switch(vis) {
      case 'matrix':
        loadMatrix(box);
        break;
      case 'force':
        loadGraph(box, vis);
        break;
      case 'radial':
        loadGraph(box, vis);
        break;
      case 'third':
        loadGraph(box, vis);
        break;
    }
  }

  </script>


</body>
</html>
