*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu';
    color: #090909;
}
.settings-div{
    margin: auto;
    float: left;
    width: 300px;
}
.upload-area-div{
    height: 100px;
}
.settings-area-div{
    height: 700px;
}
.graph-info-div{
    height: 150px;
}
.button-div{
    background-color: grey;
    float: left;
    width: 80px;
    margin: auto;
    margin-left: 10%;
    margin-top: 15%;
}
.button-div:hover{
    cursor: pointer;
}
.button-text{
    font-size: 10pt;
    text-align: center;
    color: white;
}
.vis-types-div{
    height: 50%;
    margin: 20px;
}
.vis-title{
    font-size: 14pt;
}
.type-div{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}
.type-text{
    font-size: 12pt;
    float: left;
}
.type-info{
    float: right;
    font-family: 'Times New Roman';
}
.type-div:hover{
    cursor: pointer;
}
.graph-settings-div{
    height: 50%;
    margin: 20px;
}
.graph-input-text{
    float: right;
    width: 10%;
}
.graph-info-text{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 12pt;
}
.main-vis-div{
    margin: auto;
}
.main-vis-img{
    display: block;
    margin: auto;
}
.links line {
    stroke: #000;
    stroke-opacity: 0.5;
}
.nodes circle {
    stroke: #fff;
    stroke-width: 3.0px;
}