/* CSS FOR VISUALIZATION TOOL */
/* code by Maxim Snoep (1313517) */

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b2b2b;
}

p {
  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5vh;
}

/* Container for whole Page */
.container {
  position: absolute;
  margin: 0.5vh 0.5vw;
  height: 99vh;
  width: 99vw;

  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
  "logo header x"
  "left main right";
}

/* Component Class (boxes) */
.component {
  padding: 3px;
  margin: 3px;
  border: solid 1px #f3f3f3;
  border-radius: 3px;
}

/* Corner Logo/Title */
.logo {
  grid-area: logo;
}

.title {
  position: absolute;
}


/* Header with File Upload and File Select */
.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "upload select";
}

.component-upload {
  grid-area: upload;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "upload-left upload-mid upload-right";
}

.upload-right {
  grid-area: upload-right;
  float: right;
}

.input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.button {
    color: #f3f3f3;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5vh;
    padding: 2px;
    margin: 10px;
    border: solid 1px #f3f3f3;
    border-radius: 3px;
    background: none;
}

.upload-mid {
  grid-area: upload-mid;
}

.upload-left {
  grid-area: upload-left;
}



.component-select {
  grid-area: select;
}

.left {
  grid-area: left;
}

.main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "a b"
  "c d";

}

.right {
  grid-area: right;
}

#drop-area.highlight {
  background-color: #ccc;
}
