/* CSS FOR VISUALIZATION TOOL */
/* code by Maxim Snoep (1313517) */

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b2b2b;
}

p {
  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5vh;
}

/* Container*/
.container {
  position: absolute;
  margin: 0.5vh 0.5vw;
  height: 99vh;
  width: 99vw;

  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas:
  "logo header about"
  "left main right";
}

/* Component Class */
.component {
  padding: 5px;
  margin: 5px;
}

/* Bordered Class */
.bordered {
  border: solid 1px #f3f3f3;
  border-radius: 3px;
}

/* Button Class */
.button {
    color: #f3f3f3;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5vh;
    padding: 5px;
    margin: 5px;
    background: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.button:focus {
  outline: none;
}

/* Corner Logo/Title */
.logo {
  grid-area: logo;
}

/* Corner About */
.about {
  grid-area: about;
  display: flex;
  justify-content: space-around;

  align-items: center;
}

/* Header with File Upload and File Select */
.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "upload select";
}

/* File Upload Component */
.upload {
  grid-area: upload;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "upload-left upload-right";

  align-items: center;
}

/* Left Box of File Upload */
.upload-left {
  grid-area: upload-left;
  display: flex;
  justify-content: space-around;
}

/* Right Box of File Upload */
.upload-right {
  grid-area: upload-right;
}

/* Make actual input disappear */
.input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* File Select Component */
.select {
  grid-area: select;
  display: grid;
}

.select select {
  margin: auto;
}

/* Left Settings Component */
.left {
  grid-area: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.left .component {
  display: grid;
}

/* Right Settings Component */
.right {
  grid-area: right;
}

.right .component {
  display: grid;
}

/* Main Canvas Component */
.main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "a b"
  "c d";
}

.main .component {
  padding: 0;
}
