/* Initialize */


* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  background-image: linear-gradient(to bottom right, #1f1f1f, #454545);
  overflow: hidden;
}

/*** General Styling Classes ***/

/* Button Class */
.button {
    color: #f3f3f3;
    font-family: 'Inconsolata', monospace;
    font-size: .8vw;
    text-align: center;

    padding: 5px;
    margin: 5px;
    background: none;

    border: solid 1px #f3f3f3;
    border-radius: 3px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.button:focus {
  outline: none;
}

.button option {
    background-color: #393939;
}

.selector {
  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: .8vw;
  text-align: center;

  padding: 3px;
  margin: 3px;
  background: none;

  border: solid 1px #f3f3f3;
  border-radius: 3px;
}

.selector:hover {
  cursor: pointer;
}

.special-special-selector:hover {
  cursor: pointer;
  opacity: 0.5;
}

.special-special-selector:focus {
  outline: none;
}

.special-selector {
  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: .8vw;
  text-align: center;

  padding: 0px;
  margin: 6px;
  background: none;

  border: solid 1px #f3f3f3;
  border-radius: 3px;
}

.special-selector:hover {
  cursor: pointer;
}

.no-button {
    color: #f3f3f3;
    font-family: 'Inconsolata', monospace;
    font-size: .8vw;
    text-align: center;

    padding: 5px;
    margin: 5px;
    background: none;
}

.no-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.no-button:focus {
  outline: none;
}

/* Component Class */
.component {
  padding: 5px;
  margin: 5px;
}

/* Special Component Class */
.special-component {
  margin: 5px;
}

/* Bordered Class */
.bordered {
  border: solid 1px #f3f3f3;
  border-radius: 3px;
}

/* Bold Class */
.bold {
  font-weight: 700;
}

/*** Actual Page Classes ***/

/** Container **/
.container {
  overflow-y: auto;
  height: 100%;
  width: auto;

  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "logo header header"
  "settings main main";
}

/* Logo */
.logo {
  grid-area: logo;

  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
}

.logo .head {
  font-size: 1.7vw;
  font-family: 'Major Mono Display', monospace;
}

.logo .sub {
  font-size: 1.2vw;
  font-family: 'VT323', monospace;
}



/** Header **/
.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
  "upload select pages";
}

/* Upload */
.header .upload {
  grid-area: upload;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "left right";

  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: .8vw;
}

.header .upload .upload-left {
  grid-area: left;

  display: flex;
  flex-direction: column;
}

/* make input dissapear */
.header .upload .upload-left .input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.header .upload .upload-right {
  grid-area: right;

  display: flex;
  flex-direction: column;
}

/* Select */

.header .select {
  grid-area: select;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "left right";

  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: .8vw;
}

.header .select .select-left {
  grid-area: left;

  display: flex;
  flex-direction: column;
}

.header .select .select-right {
  grid-area: right;

  display: flex;
  flex-direction: column;
}




/* Pages*/

.header .pages {
  grid-area: pages;

  display: flex;
  flex-direction: column;

  width: 10vw;
}



/* Settings */
.settings {
  height: 500px;

  grid-area: settings;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: .8vw;
}

.settings .setting {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "left right";

}

.settings .setting .setting-left {
  grid-area: left;

  margin-right: 5px;

  display: grid;
  align-items: center;
  justify-content: flex-end;
}

.settings .setting .setting-right  {
  grid-area: right;

  margin-left: 5px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "leftleft rightright";

  width: auto;
  align-items: center;
}

.settings .setting .setting-right .setting-right-right {
  grid-area: rightright;

  text-align: center;
}

.settings .setting .setting-right .setting-right-left {
  grid-area: leftleft;
}

.settings .setting .setting-right-both {
  grid-area: leftleft / leftleft / rightright / rightright;
  width: auto;
}

.settings .setting .setting-both {
  grid-area: left / left / right / right;
}

/* Main */
.main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "a b"
  "c d";
}

.initial {
  grid-area: a / a / d / d;
}

.pages-content {
  padding: 30px;
}

.pages-content p {
  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: .8vw;
}

.pages-content li {
  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: .8vw;
}

.pages-content ul {
  padding-left: 15px;
}

.pages-content h1 {
  margin-top: 10px;
  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: 3vw;
}

.pages-content h2 {
  margin-top: 10px;
  color: #f3f3f3;
  font-family: 'Inconsolata', monospace;
  font-size: 2vw;
}

.center {
  text-align: center;
}

.checkboxes input {
  height: 15px;
  margin-right: 2px;
  vertical-align: bottom;
  position: relative;
  top: 2px;
  *overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
